@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #0572c9;
  --midblue: #045CB7;
  --darkblue: #023294;
  --primary: #fff;
  /* --primary: #40497e; */
  --secondary: #000;
  /* --secondary: #ddd; */
  --grid:
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  /* border: 1px solid var(--secondary); */
  color: var(--secondary);
}

body {
  /* background-color: #d9d9d9; */
  background-color: var(--primary);
  /* background-color: #fff; */
}

/* Home */
.App {
  background-image: url(assets/grid.png);
}
.navv {
  background-image: url(assets/grid.png);
  z-index: 50;
  background-color: var(--primary);
  border-bottom: 1px solid var(--secondary);
}
.activenav{
    border-bottom: 1px solid var(--secondary);
  
}
.navv > .active {
  border-bottom: 1px solid #333;
}
/* org */

h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 100;
}
h3 {
  font-size: 20px;
  font-weight: 300;
}
.links img {
  width: 20px;
}
.mainbuttons button:hover:first-child, .mainbuttons button:nth-child(2) {
  border-radius: 3px;
background-color: #00000000;
border: 1px solid #fff;
transition: 0.3s ease-in-out;
color: #fff;
font-weight: 400;

}
.mainbuttons button:first-child, .mainbuttons button:hover:nth-child(2) {

border-radius: 3px;
background-color: #ffffff;
transition: 0.3s ease-in-out;
border: 1px solid #00000000;
color: var(--midblue);
font-weight: 400;
}

.butt{
  padding: 10px;
  z-index: 10;
  transition: 0.3s ease-in-out;
}
.buttf{
  z-index: 10;
  transition: 0.3s ease-in-out;
}
.butt:hover{
cursor: default;
}
.smol .butt{
  padding: 5px 10px;
  z-index: 10;
  transition: 0.3s ease-in-out;
  font-size: 13px;
}
.butti{
  z-index: 27;
  transition: 0.3s ease-in-out;
  border: 1px solid var(--secondary);
}
.buttc{
  padding: 10px;
  z-index: 10;
  transition: 0.3s ease-in-out;
}
.buttc:hover {
  background-color: #d9e3f7;

}
.butt2{
  padding: 2px 7px;
  transition: 0.3s ease-in-out;
}
.butt2:hover {
  background-color: #d9e3f7;

}
.border1 {
  position: absolute;
  border-top: 1px solid var(--secondary);
  border-left: 1px solid var(--secondary);
  top:0px;
  left:0px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  transition: .3s ease-in-out;
  z-index: -1;
}
.border2 {
  position: absolute;
  border-bottom: 1px solid var(--secondary);
  border-right: 1px solid var(--secondary);
  bottom:0px;
  right:0px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  transition: .3s ease-in-out;
  z-index: -1;

}
.butt:hover .border1, .butt:hover .border2{
  width: 100%;
  height: 100%;
  width: 40px;
  height: 20px;
  /* width: calc(100% + 5px);
  height: calc(100% + 5px); */
}
.buttf:hover .border1, .buttf:hover .border2{
  width: 100%;
  height: 100%;
  width: 40px;
  height: 20px;
  /* width: calc(100% + 5px);
  height: calc(100% + 5px); */
}
.butti:hover .border1, .butti:hover .border2{
  width: 100%;
  height: 100%;
  width: 40px;
  height: 20px;
  /* width: calc(100% + 5px);
  height: calc(100% + 5px); */
}
.buttc:hover .border1, .buttc:hover .border2{
  width: 100%;
  height: 100%;
  /* width: 40px;
  height: 20px; */
  /* width: calc(100% + 5px);
  height: calc(100% + 5px); */
  width: 0;
  height: 0;
  opacity: 0;
}
.divider {
  border-top: 1px solid #777;
}
.link:hover {
  border-bottom: 1px solid var(--secondary);
  padding-bottom: 4px;
}
.link {
  border-bottom: 1px solid var(--secondary);
  padding-bottom: 2px;
  transition: 0.3s ease-in-out;
  font-weight: 500;

}
.link2:hover {
  border-bottom: 1px solid var(--secondary);
}
.link2 {
  border-bottom: 1px solid #00000000;
  padding-bottom: 2px;
  transition: 0.3s ease-in-out;
  font-weight: 400;

}
/* h4{
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 7px;
} */

.skill {
  border-top: 5px solid var(--darkblue);
  padding: 10px 10px 20px;
}
.skill h4 {
  text-transform: uppercase;
  color: var(--darkblue);
  font-weight: 900;
}
.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--secondary); }
}
.skill p {
  display:inline-block;
  padding: 1px 10px;
  margin: 2px;
  border-radius: 5px;
  font-weight: 500;
  /* font-family: 'Ubuntu Mono', monospace; */
  transition: 0.3s ease-in-out;
  /* letter-spacing: 1px; */
  /* text-transform: uppercase; */
}
.lang {
  background-color: #fff;
  color: var(--blue);
  transition: 0.3s ease-in-out;
  border: 3px solid var(--blue);
}
.framework {
  background-color: #fff;
  color: var(--midblue);
  transition: 0.3s ease-in-out;
  border: 3px solid var(--midblue);

}
.tech {
  background-color: #fff;
  color: var(--darkblue);
  transition: 0.3s ease-in-out;
  border: 3px solid var(--darkblue);

}
.lang:hover {
  background-color: var(--blue);
  color: #fff;
  cursor:default;
  background-image: url('assets/bg.png');
  background-size: 100px;


}
.framework:hover {
  background-color: var(--midblue);
  color: #fff;
  cursor:default;

}
.tech:hover {
  background-color: var(--darkblue);
  color: #fff;
  cursor:default;

}
.tit h2 {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 2px;
}
.tit h3 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
}
.giddy .tit h3 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
}
.tit h4 {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 600;
}
.tit h5 {
  /* color: #999; */
}

.im2 {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-in-out;
  /* box-shadow: 0px 0px 20px var(--secondary); */


}
.butti:hover .im2 {
  opacity: 1;
}

li p{
  padding-left: 15px;
}
li{
  padding: 0 15px;
}

input, textarea{
  background-color: #00000000;
  border: 0;
  padding: 10px;
  margin: 0;
}
.buttb:hover {
cursor: pointer;
}